<a href="https://colab.research.google.com/github/ANANAYAGG/AI_LAB/blob/main/DMA_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SERIES**

In [ ]:
import pandas as pd


data = [1, 3, 5]
series = pd.Series(data, index=['x', 'y', 'z'])
print(series)


print(series['y'])

x    1
y    3
z    5
dtype: int64
3

**DATAFRAME**

In [ ]:
import pandas as pd

data={
    "rno":['1','2','3','4'],
    "age":['21','20','21','19'],
    "rank":['3','1','2','4']
    }

df=pd.DataFrame(data)
print(df["age"])

0    21
1    20
2    21
3    19
Name: age, dtype: object

**BASIC FUNCTIONALITY**

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       2 non-null      int64
 1   B       2 non-null      int64
dtypes: int64(2)
memory usage: 164.0 bytes
None
   A  B
0  1  3
1  2  4

**DESCRIPTIVE STATISTICS**

In [ ]:
import pandas as pd

data = {'Maths': [90, 85, 98, None], 'Science': [92, 87, None, None]}
df = pd.DataFrame(data)

print(df.describe())


print(df.count())

           Maths    Science
count   3.000000   2.000000
mean   91.000000  89.500000
std     6.557439   3.535534
min    85.000000  87.000000
25%    87.500000  88.250000
50%    90.000000  89.500000
75%    94.000000  90.750000
max    98.000000  92.000000
Maths      3
Science    2
dtype: int64

**ITERATION**

In [ ]:
for index, row in df.iterrows():
    print(row['Maths'], row['Science'])

90.0 92.0
85.0 87.0
98.0 nan
nan nan

**SORTING IN DESCENDING WISE**

In [ ]:
import pandas as pd

data = {'Item': ['Laptop', 'Monitor', 'Mouse'], 'Cost': [1000, 200, 50]}
df = pd.DataFrame(data)


sorted_df = df.sort_values(by='Cost', ascending=False)
print(sorted_df)

      Item  Cost
0   Laptop  1000
1  Monitor   200
2    Mouse    50

In [ ]:
import pandas as pd

data = {'Names': ['Karan', 'Manav'],
        'Emails': ['Karan@example.com', 'Manav@test.com'],
        'Codes': ['ABC123', 'def456']}
df = pd.DataFrame(data)


df['Names'] = df['Names'].str.upper()
print(df['Names'])

df['Names_Lower'] = df['Names'].str.lower()
print(df['Names_Lower'])

df['Names_Capitalized'] = df['Names'].str.capitalize()
print(df['Names_Capitalized'])

df['Code_Prefix'] = df['Codes'].str[:3]
print(df['Code_Prefix'])

df['Name_Length'] = df['Names'].str.len()
print(df['Name_Length'])

0    KARAN
1    MANAV
Name: Names, dtype: object
0    karan
1    manav
Name: Names_Lower, dtype: object
0    Karan
1    Manav
Name: Names_Capitalized, dtype: object
0    ABC
1    def
Name: Code_Prefix, dtype: object
0    5
1    5
Name: Name_Length, dtype: int64

**INDEXING AND SLICING DATA**

In [ ]:
import pandas as pd

data = {'Name': ['Alice', 'Bhim', 'Chris'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

print("Using iloc:")
print(df.iloc[0])
print("\n")

# Set 'Name' as the index
df.set_index('Name', inplace=True)
print("DataFrame with 'Name' as index:")
print(df)
print("\n")

# Now we can use loc with 'Alice'
print("Using loc:")
print(df.loc['Alice'])
print("\n")

Using iloc:
Name    Alice
Age        25
Name: 0, dtype: object


DataFrame with 'Name' as index:
       Age
Name
Alice   25
Bhim    30
Chris   35


Using loc:
Age    25
Name: Alice, dtype: int64

**STATISTICAL FUNCTIONS**

In [ ]:
import pandas as pd

data = {'Maths': [90, 85, 98], 'Science': [92, 87, 59]}
df = pd.DataFrame(data)

print(df.sum())

print(df.mean())

print(df.std())

Maths      273
Science    238
dtype: int64
Maths      91.000000
Science    79.333333
dtype: float64
Maths       6.557439
Science    17.785762
dtype: float64