<a href="https://colab.research.google.com/github/ANANAYAGG/AI_LAB/blob/main/DMA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DECESION MAKING BASIC PYTHON**

In [1]:
y = 20
if y < 10:
    print("y is less than 10")
elif y < 20:
    print("y is between 10 and 20")
else:
    print("y is 20 or greater")

y is 20 or greater

**LOOPS IN PYTHON**

In [2]:

for i in range(5):
    print(i)


fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

0
1
2
3
4
apple
banana
cherry

**STRINGS**

In [3]:
message = "DATA MINING AND ANALYSIS"

print(len(message))

print(message)
print(message[7:12])

print(message.upper())
print(message.lower())
print(message.replace("Hello", "Hi"))

first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

age = 30
print(f"{full_name} is {age} years old")

24
DATA MINING AND ANALYSIS
NING
DATA MINING AND ANALYSIS
data mining and analysis
DATA MINING AND ANALYSIS
John Doe
John Doe is 30 years old